{% extends 'layout.html.twig' %}

{% block body %}
	{{ parent() }}
	<div class="container">
        <h3 class="text-center">
            {{ 'Welcome'|trans }}
            {% if app.user.role == 'ROLE_ADMIN' %}
				{{ app.user.firstName }}
                {{ 'Administrator -'|trans }}
				{{ app.session.get('empresa_nombre') }}
            {% elseif app.user.role == 'ROLE_USER' %}
				{{ app.user.firstName }}
                {{ 'User -'|trans }}
				{{ app.session.get('empresa_nombre') }}
            {% endif %}
        </h3>
	</div>
{% endblock %}
